---
http_interactions:
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/addresses/first_free/4/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - l1oNk3iMixvPENiG7gEjDkp8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":true,"data":"10.10.2.1","time":0.004}'
  recorded_at: Thu, 29 Jun 2017 14:54:09 GMT
recorded_with: VCR 3.0.3
