---
http_interactions:
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/subnets/9/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - xUjY_6V!1uD$zN.l6nsMXWGJ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":true,"data":{"id":"9","subnet":"1.1.1.0","mask":"24","sectionId":"3","description":null,"linked_subnet":null,"firewallAddressObject":null,"vrfId":"0","masterSubnetId":"0","allowRequests":"0","vlanId":"0","showName":"0","device":"0","permissions":"[]","pingSubnet":"0","discoverSubnet":"0","DNSrecursive":"0","DNSrecords":"0","nameserverId":"0","scanAgent":"0","isFolder":"0","isFull":"0","tag":"2","threshold":"0","location":"0","editDate":null,"lastScan":null,"lastDiscovery":null,"custom_valor_1":null,"custom_numero":"0","calculation":{"Type":"IPv4","IP
        address":"\/","Network":"1.1.1.0","Broadcast":"1.1.1.255","Subnet bitmask":"24","Subnet
        netmask":"255.255.255.0","Subnet wildcard":"0.0.0.255","Min host IP":"1.1.1.1","Max
        host IP":"1.1.1.254","Number of hosts":254,"Subnet Class":false}},"time":0.003}'
  recorded_at: Tue, 27 Jun 2017 17:18:22 GMT
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/subnets/9/slaves/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - xUjY_6V!1uD$zN.l6nsMXWGJ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":true,"data":[{"id":"10","subnet":"1.1.1.0","mask":"30","sectionId":"3","description":null,"linked_subn[...]
