---
http_interactions:
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/subnets/999/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - xUjY_6V!1uD$zN.l6nsMXWGJ
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":400,"success":0,"message":"Invalid subnet Id (999)","time":0.003}'
  recorded_at: Tue, 27 Jun 2017 17:18:21 GMT
recorded_with: VCR 3.0.3
