---
http_interactions:
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/subnets/cidr/1.2.3.0/24/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - "=kx6R0w4KiKS0ogduPCmDwcG"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":0,"message":"No subnets found","time":0.118}'
  recorded_at: Mon, 26 Jun 2017 15:24:36 GMT
recorded_with: VCR 3.0.3
