---
http_interactions:
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/subnets/4/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - xUjY_6V!1uD$zN.l6nsMXWGJ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":true,"data":{"id":"4","subnet":"10.10.2.0","mask":"24","sectionId":"1","description":"Customer
        2","linked_subnet":null,"firewallAddressObject":null,"vrfId":"0","masterSubnetId":"2","allowRequests":"1","vlanId":"0","showName":"1","device":"0","permissions":"{\"3\":\"1\",\"2\":\"2\"}","pingSubnet":"0","discoverSubnet":"0","DNSrecursive":"0","DNSrecords":"0","nameserverId":"0","scanAgent":null,"isFolder":"0","isFull":"0","tag":"2","threshold":"0","location":null,"editDate":null,"lastScan":null,"lastDiscovery":null,"custom_valor_1":null,"custom_numero":"0","calculation":{"Type":"IPv4","IP
        address":"\/","Network":"10.10.2.0","Broadcast":"10.10.2.255","Subnet bitmask":"24","Subnet
        netmask":"255.255.255.0","Subnet wildcard":"0.0.0.255","Min host IP":"10.10.2.1","Max
        host IP":"10.10.2.254","Number of hosts":254,"Subnet Class":"private A"}},"time":0.003}'
  recorded_at: Tue, 27 Jun 2017 17:18:22 GMT
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/subnets/4/slaves/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - xUjY_6V!1uD$zN.l6nsMXWGJ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":0,"message":"No slaves","time":0.005}'
  recorded_at: Tue, 27 Jun 2017 17:18:22 GMT
recorded_with: VCR 3.0.3
