---
http_interactions:
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/subnets/12/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - xUjY_6V!1uD$zN.l6nsMXWGJ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":true,"data":{"id":"12","subnet":"1.1.1.8","mask":"30","sectionId":"3","description":null,"linked_subnet":null,"firewallAddressObject":null,"vrfId":"0","masterSubnetId":"11","allowRequests":"0","vlanId":"0","showName":"0","device":"0","permissions":"[]","pingSubnet":"0","discoverSubnet":"0","DNSrecursive":"0","DNSrecords":"0","nameserverId":"0","scanAgent":"0","isFolder":"0","isFull":"0","tag":"2","threshold":"0","location":"0","editDate":null,"lastScan":null,"lastDiscovery":null,"custom_valor_1":null,"custom_numero":"0","calculation":{"Type":"IPv4","IP
        address":"\/","Network":"1.1.1.8","Broadcast":"1.1.1.11","Subnet bitmask":"30","Subnet
        netmask":"255.255.255.252","Subnet wildcard":"0.0.0.3","Min host IP":"1.1.1.9","Max
        host IP":"1.1.1.10","Number of hosts":2,"Subnet Class":false}},"time":0.003}'
  recorded_at: Tue, 27 Jun 2017 17:18:22 GMT
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/subnets/12/first_free/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - xUjY_6V!1uD$zN.l6nsMXWGJ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":0,"message":"No free addresses found","time":0.004}'
  recorded_at: Tue, 27 Jun 2017 17:18:22 GMT
recorded_with: VCR 3.0.3
