---
http_interactions:
- request:
    method: post
    uri: http://phpipam.com/api/capacidad/user/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic YW1pbjEyOmFtaW4uaXBhbQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":true,"data":{"token":"xUjY_6V!1uD$zN.l6nsMXWGJ","expires":"2017-06-27
        19:18:27"},"time":0.288}'
  recorded_at: Tue, 27 Jun 2017 17:18:27 GMT
recorded_with: VCR 3.0.3
