---
http_interactions:
- request:
    method: post
    uri: http://phpipam.com/api/capacidad/user/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic YW1pbjEyOmFtaW4uaXBhbQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":true,"data":{"token":"=kx6R0w4KiKS0ogduPCmDwcG","expires":"2017-06-26
        16:51:59"},"time":0.228}'
  recorded_at: Mon, 26 Jun 2017 14:51:59 GMT
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/sections/3/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - "=kx6R0w4KiKS0ogduPCmDwcG"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":true,"data":{"id":"3","name":"Probando","description":null,"masterSection":"0","permissions":"[]","strictMode":"1","subnetOrdering":"default","order":null,"editDate":null,"showVLAN":"1","showVRF":"1","showSupernetOnly":"1","DNS":null},"time":0.03}'
  recorded_at: Mon, 26 Jun 2017 14:51:59 GMT
recorded_with: VCR 3.0.3
