---
http_interactions:
- request:
    method: post
    uri: http://phpipam.com/api/capacidad/user/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic YW1pbjEyOmFtaW4uaXBhbQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":true,"data":{"token":"=kx6R0w4KiKS0ogduPCmDwcG","expires":"2017-06-26
        17:05:34"},"time":0.219}'
  recorded_at: Mon, 26 Jun 2017 15:05:34 GMT
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/sections/999/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - "=kx6R0w4KiKS0ogduPCmDwcG"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":404,"success":0,"message":"Section does not exist","time":0.007}'
  recorded_at: Mon, 26 Jun 2017 15:05:34 GMT
recorded_with: VCR 3.0.3
