---
http_interactions:
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/addresses/tags/948/addresses/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - xUjY_6V!1uD$zN.l6nsMXWGJ
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":404,"success":0,"message":"Address tag does not exist","time":0.003}'
  recorded_at: Tue, 27 Jun 2017 19:44:13 GMT
recorded_with: VCR 3.0.3
