---
http_interactions:
- request:
    method: post
    uri: http://phpipam.com/api/capacidad/user/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic YW1pbjEyOmFtaW4uaXBhbQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":true,"data":{"token":"Ei9tcMmrZNaP5FyxDFsAKQcb","expires":"2017-06-22
        21:31:01"},"time":0.292}'
  recorded_at: Thu, 22 Jun 2017 19:31:01 GMT
recorded_with: VCR 3.0.3
