---
http_interactions:
- request:
    method: post
    uri: http://phpipam.com/api/capacidad/user/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic YmFkX3VzZXJuYW1lOmFtaW4uaXBhbQ==
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":500,"success":0,"message":"Invalid username or password","time":0.194}'
  recorded_at: Thu, 22 Jun 2017 19:31:16 GMT
recorded_with: VCR 3.0.3
