---
http_interactions:
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/subnets/999/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - l1oNk3iMixvPENiG7gEjDkp8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":400,"success":0,"message":"Invalid subnet Id (999)","time":0.006}'
  recorded_at: Thu, 29 Jun 2017 14:52:27 GMT
recorded_with: VCR 3.0.3
