---
http_interactions:
- request:
    method: post
    uri: http://phpipam.com/api/capacidad/user/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic YW1pbjEyOmFtaW4uaXBhbQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":true,"data":{"token":"l1oNk3iMixvPENiG7gEjDkp8","expires":"2017-06-29
        16:54:42"},"time":0.248}'
  recorded_at: Thu, 29 Jun 2017 14:54:43 GMT
recorded_with: VCR 3.0.3
