---
http_interactions:
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/vlan/1/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - WIJI4IyyMHe4IxfNe8IKA7qb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":true,"data":{"vlanId":"1","domainId":"1","name":"IPv6
        private 1","number":"6001","description":"IPv6 private 1 subnets","editDate":null},"time":0.005}'
  recorded_at: Mon, 01 Jan 2018 22:28:24 GMT
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/vlan/1/subnets/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - WIJI4IyyMHe4IxfNe8IKA7qb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":0,"message":"No subnets found","time":0.005}'
  recorded_at: Mon, 01 Jan 2018 22:28:24 GMT
recorded_with: VCR 4.0.0
