---
http_interactions:
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/vlan/3/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - WIJI4IyyMHe4IxfNe8IKA7qb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":true,"data":{"vlanId":"3","domainId":"1","name":"Primera","number":"13","description":"Primera
        de prueba","editDate":null},"time":0.004}'
  recorded_at: Mon, 01 Jan 2018 22:28:24 GMT
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/vlan/3/subnets/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - WIJI4IyyMHe4IxfNe8IKA7qb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":true,"data":[{"id":"3","subnet":"10.10.1.0","mask":"24","sectionId":"2","description":"Customer
        1","firewallAddressObject":null,"vrfId":"0","masterSubnetId":"0","allowRequests":"1","vlanId":"3","showName":"1","device":"0","permissions":"{\"3\":\"1\",\"2\":\"2\"}","pingSubnet":"0","discoverSubnet":"0","DNSrecursive":"0","nameserverId":"0","DNSrecords":"0","scanAgent":"0","isFolder":"0","isFull":"0","tag":"2","editDate":"2018-01-01
        17:33:26","threshold":"0","linked_subnet":null,"location":"0","lastScan":null,"lastDiscovery":null,"resolveDNS":"0","gatewayId":"5"},{"id":"4","subnet":"10.10.2.0","mask":"24","sectionId":"1","description":"Customer
        2","firewallAddressObject":null,"vrfId":"0","masterSubnetId":"2","allowRequests":"1","vlanId":"3","showName":"1","device":"0","permissions":"{\"3\":\"1\",\"2\":\"2\"}","pingSubnet":"0","discoverSubnet":"0","DNSrecursive":"0","nameserverId":"0","DNSrecords":"0","scanAgent":"0","isFolder":"0","isFull":"0","tag":"2","editDate":"2018-01-01
        17:41:13","threshold":"0","linked_subnet":null,"location":[...]
