---
http_interactions:
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/addresses/1.1.1.9/12/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - l1oNk3iMixvPENiG7gEjDkp8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":true,"data":{"id":"22","subnetId":"12","ip_addr":"16843017","is_gateway":null,"description":"","dns_name":"server2.cust1.local","mac":"","owner":"","state":"2","switch":"0","location":"0","port":null,"note":"","lastSeen":null,"excludePing":"0","PTRignore":"0","PTR":"0","firewallAddressObject":null,"editDate":"2017-06-27
        14:34:08","ip":"1.1.1.9"},"time":0.004}'
  recorded_at: Thu, 29 Jun 2017 14:54:09 GMT
recorded_with: VCR 3.0.3
