---
http_interactions:
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/addresses/search_hostname/server2.cust1.local/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - l1oNk3iMixvPENiG7gEjDkp8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":true,"data":[{"id":"2","subnetId":"3","ip":"10.10.1.4","is_gateway":"0","description":"Server2","hostname":"server2.cust1.local","mac":null,"owner":null,"tag":"2","deviceId":null,"location":null,"port":null,"note":null,"lastSeen":"1970-01-01
        00:00:01","excludePing":"0","PTRignore":"0","PTR":"0","firewallAddressObject":null,"editDate":null},{"id":"22","subnetId":"12","ip":"1.1.1.9","is_gateway":null,"description":"","hostname":"server2.cust1.local","mac":"","owner":"","tag":"2","deviceId":"0","location":"0","port":null,"note":"","lastSeen":null,"excludePing":"0","PTRignore":"0","PTR":"0","firewallAddressObject":null,"editDate":"2017-06-27
        14:34:08"}],"time":0.004}'
  recorded_at: Thu, 29 Jun 2017 14:54:09 GMT
recorded_with: VCR 3.0.3
