---
http_interactions:
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/addresses/first_free/4/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - xUjY_6V!1uD$zN.l6nsMXWGJ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":true,"data":"10.10.2.1","time":0.006}'
  recorded_at: Tue, 27 Jun 2017 19:23:48 GMT
recorded_with: VCR 3.0.3
