---
http_interactions:
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/subnets/cidr/1.1.1.0/24/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - l1oNk3iMixvPENiG7gEjDkp8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":true,"data":[{"id":"9","subnet":"1.1.1.0","mask":"24","sectionId":"3","description":null,"linked_subnet":null,"firewallAddressObject":null,"vrfId":"0","masterSubnetId":"0","allowRequests":"0","vlanId":"0","showName":"0","device":"0","permissions":"[]","pingSubnet":"0","discoverSubnet":"0","DNSrecursive":"0","DNSrecords":"0","nameserverId":"0","scanAgent":"0","isFolder":"0","isFull":"0","tag":"2","threshold":"0","location":"0","editDate":null,"lastScan":null,"lastDiscovery":null,"custom_valor_1":null,"custom_numero":"0"}],"time":0.003}'
  recorded_at: Thu, 29 Jun 2017 14:52:27 GMT
recorded_with: VCR 3.0.3
