---
http_interactions:
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/subnets/cidr/1.2.3.0/24/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - l1oNk3iMixvPENiG7gEjDkp8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":0,"message":"No subnets found","time":0.003}'
  recorded_at: Thu, 29 Jun 2017 14:52:27 GMT
recorded_with: VCR 3.0.3
