---
http_interactions:
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/vlan/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - WIJI4IyyMHe4IxfNe8IKA7qb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":true,"data":[{"vlanId":"1","domainId":"1","name":"IPv6
        private 1","number":"6001","description":"IPv6 private 1 subnets","editDate":null},{"vlanId":"2","domainId":"1","name":"Servers
        DMZ","number":"6101","description":"DMZ public","editDate":null},{"vlanId":"3","domainId":"1","name":"Primera","number":"13","description":"Primera
        de prueba","editDate":null},{"vlanId":"4","domainId":"1","name":"Otra 13","number":"1","description":"Probando
        numero repetido","editDate":null},{"vlanId":"5","domainId":"2","name":"Segunda","number":"13","description":null,"editDate":null}],"time":0.007}'
  recorded_at: Mon, 01 Jan 2018 22:28:24 GMT
recorded_with: VCR 4.0.0
