---
http_interactions:
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/addresses/tags/2/addresses/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - l1oNk3iMixvPENiG7gEjDkp8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":true,"data":[{"id":"1","subnetId":"3","ip":"10.10.1.3","is_gateway":"0","description":"Server1","hostname":"server1.cust1.local","mac":null,"owner":null,"tag":"2","deviceId":null,"location":null,"port":null,"note":null,"lastSeen":"1970-01-01
        00:00:01","excludePing":"0","PTRignore":"0","PTR":"0","firewallAddressObject":null,"editDate":null},{"id":"2","subnetId":"3","ip":"10.10.1.4","is_gateway":"0","description":"Server2","hostname":"server2.cust1.local","mac":null,"owner":null,"tag":"2","deviceId":null,"location":null,"port":null,"note":null,"lastSeen":"1970-01-01
        00:00:01","excludePing":"0","PTRignore":"0","PTR":"0","firewallAddressObject":null,"editDate":null},{"id":"5","subnetId":"3","ip":"10.10.1.245","is_gateway":"0","description":"Gateway","hostname":null,"mac":null,"owner":null,"tag":"2","deviceId":null,"locat[...]
