---
http_interactions:
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/sections/999/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - l1oNk3iMixvPENiG7gEjDkp8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":404,"success":0,"message":"Section does not exist","time":0.128}'
  recorded_at: Thu, 29 Jun 2017 14:45:02 GMT
recorded_with: VCR 3.0.3
