---
http_interactions:
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/sections/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - l1oNk3iMixvPENiG7gEjDkp8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":true,"data":[{"id":"2","name":"IPv6","description":"Section
        for IPv6 addresses","masterSection":"0","permissions":"{\"3\":\"1\",\"2\":\"2\"}","strictMode":"1","subnetOrdering":null,"order":null,"editDate":null,"showVLAN":"0","showVRF":"0","showSupernetOnly":"0","DNS":null},{"id":"4","name":"Vacia","description":null,"masterSection":"0","permissions":"[]","strictMode":"1","subnetOrdering":"default","order":null,"editDate":null,"showVLAN":"1","showVRF":"1","showSupernetOnly":"1","DNS":null},{"id":"3","name":"Probando","description":null,"masterSection":"0","permissions":"[]","strictMode":"1","subnetOrdering":"default","order":null,"editDate":null,"showVLAN":"1","showVRF":"1","showSupernetOnly":"1","DNS":null},{"id":"1","name":"Customers","description":"Section
        for customers","masterSection":"0","permissions":"{\"3\":\"1\",\"2\":\"2\"}","strictMode":"1","subnetOrdering":null,"order":null,"editDate":null,"showVLAN":"0","showVRF":"0","showSupernetOnly":"0","DNS":null}],"time":0.009}'
  recorded_at: Thu, 29 Jun 2017 14:45:02 GMT
recorded_with: VCR 3.0.3
