---
http_interactions:
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/vlan/search/99/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - WIJI4IyyMHe4IxfNe8IKA7qb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":0,"message":"Vlans not found","time":0.005}'
  recorded_at: Mon, 01 Jan 2018 22:28:24 GMT
recorded_with: VCR 4.0.0
