---
http_interactions:
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/sections/Vacia/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - l1oNk3iMixvPENiG7gEjDkp8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":true,"data":{"id":"4","name":"Vacia","description":null,"masterSection":"0","permissions":"[]","strictMode":"1","subnetOrdering":"default","order":null,"editDate":null,"showVLAN":"1","showVRF":"1","showSupernetOnly":"1","DNS":null},"time":0.005}'
  recorded_at: Thu, 29 Jun 2017 14:45:02 GMT
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/sections/4/subnets/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - l1oNk3iMixvPENiG7gEjDkp8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":0,"message":"No subnets found","time":0.003}'
  recorded_at: Thu, 29 Jun 2017 14:45:02 GMT
recorded_with: VCR 3.0.3
