---
http_interactions:
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/addresses/1.1.1.1/12/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - xUjY_6V!1uD$zN.l6nsMXWGJ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":0,"message":"No addresses found","time":0.112}'
  recorded_at: Tue, 27 Jun 2017 19:09:57 GMT
recorded_with: VCR 3.0.3
