---
http_interactions:
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/addresses/999/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - l1oNk3iMixvPENiG7gEjDkp8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":404,"success":0,"message":"Invalid Id","time":0.03}'
  recorded_at: Thu, 29 Jun 2017 14:54:09 GMT
recorded_with: VCR 3.0.3
