---
http_interactions:
- request:
    method: get
    uri: http://phpipam.com/api/capacidad/addresses/9/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - xUjY_6V!1uD$zN.l6nsMXWGJ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":200,"success":true,"data":{"id":"9","subnetId":"6","ip":"10.65.22.5","is_gateway":"0","description":"DHCP
        range","hostname":null,"mac":null,"owner":null,"tag":"4","deviceId":null,"location":null,"port":null,"note":null,"lastSeen":"1970-01-01
        00:00:01","excludePing":"0","PTRignore":"0","PTR":"0","firewallAddressObject":null,"editDate":null},"time":0.006}'
  recorded_at: Tue, 27 Jun 2017 17:18:21 GMT
recorded_with: VCR 3.0.3
